<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Steam auth code generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@material/button@0.36.1/dist/mdc.button.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@material/card@0.36.1/dist/mdc.card.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@material/typography@0.35.0/dist/mdc.typography.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="index.css">
</head>

<body>

<div class="auth-code" id="app">
    <div v-for="(authCode, index) in authCodes" class="auth-code__card mdc-card">
        <div class="auth-code__primary">
            <h2 class="auth-code__title mdc-typography--subtitle1">
                <span v-if="index == 0">Current</span>
                <span v-else>Next</span>
            </h2>
        </div>
        <div class="auth-code__secondary">
            <div :id="getAuthCodeId(index)" :class="{'auth-code__code--transparent': isTransparent}"
                 class="auth-code__code mdc-typography--headline2">{{authCode.authCode}}
            </div>
        </div>
        <div class="mdc-card__actions">
            <div class="mdc-card__action-buttons">
                <button class="auth-code__copy mdc-button mdc-card__action mdc-card__action--button"
                        :data-clipboard-target="getAuthCodeIdSelector(index)"
                        data-trigger="click"
                        data-placement="bottom"
                        data-title="Copied!">
                    <i class="material-icons mdc-button__icon">file_copy</i>
                    Copy
                </button>
            </div>
        </div>
        <div class="auth-code__footnote">
            <div class="auth-code__progress mdc-typography--body2">
                Expires in <span class="auth-code__remaining">{{authCode.remaining}}</span> sec
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/clipboard@2.0.1/dist/clipboard.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<script type="module">
    import * as SteamAuthCode from './steam-auth-code.js';

    let app = new Vue({
        el: '#app',
        data() {
            let dummyCode = new SteamAuthCode.AuthCode();
            return {
                authCodes: this.createAuthCodes(0, dummyCode, dummyCode),
                isTransparent: false,
            };
        },
        async created() {
            let params = SteamAuthCode.parseUrlParams();
            this.secret = params.secret;
            this.timeOffset = params.timeOffset;

            let now = Date.now() + this.timeOffset;

            this.currCode = await SteamAuthCode.getAuthCode(this.secret, now);
            this.nextCode = await SteamAuthCode.getAuthCode(this.secret, now + SteamAuthCode.TIME_INTERVAL_IN_MS);

            this.update();
            setInterval(this.update, 1000);

            this.initCopyButtons();
        },
        methods: {
            async update() {
                let now = Date.now() + this.timeOffset;
                this.authCodes = this.createAuthCodes(now, this.currCode, this.nextCode);

                if (now >= this.nextCode.startTime) {
                    this.currCode = this.nextCode;
                    this.nextCode = await SteamAuthCode.getAuthCode(this.secret, now + SteamAuthCode.TIME_INTERVAL_IN_MS);
                    this.isTransparent = true;

                    setTimeout(() => {
                        this.authCodes = this.createAuthCodes(now, this.currCode, this.nextCode);
                        this.isTransparent = false;
                    }, 500);
                }
            },
            createAuthCodes(now, currCode, nextCode) {
                let remaining = Math.ceil((nextCode.startTime - now) / 1000) % 30;

                return [
                    {
                        authCode: currCode.authCode,
                        remaining: remaining,
                    },
                    {
                        authCode: nextCode.authCode,
                        remaining: remaining + SteamAuthCode.TIME_INTERVAL_IN_SEC,
                    },
                ];
            },
            getAuthCodeId(index) {
                return `auth-code__code-${index}`;
            },
            getAuthCodeIdSelector(index) {
                return `#${this.getAuthCodeId(index)}`;
            },
            initCopyButtons() {
                $('.auth-code__copy')
                    .tooltip()
                    .on('shown.bs.tooltip', e => {
                        setTimeout(() => {
                            $(e.target).tooltip('hide');
                        }, 1000);
                    });

                let clipboard = new ClipboardJS('.auth-code__copy');

                clipboard.on('success', e => {
                    e.clearSelection();
                });
            }
        },
    });

</script>

</body>
</html>
